html, body{
    font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	background:#fff;
    margin: 0;
    padding: 0;
}

.startbanner{
	background:url(../images/background.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
    min-height:999px;
    text-align:center;
}


.start-text {
    font-family: 'Charmonman', cursive;
    color:#000;
}

.logo-text {
    font-size: 20px;
    line-height: 1;
    white-space: nowrap;
    text-decoration: none;
    display: inline-block;
}

 /* logo紙怪圖片(左) 用到logo，logoimg*/
#logo{
    display: inline-block;
}


#logoimg{
    line-height:20px;
    width: 200px;
    height: 200px;
    float: left;

   
}
/* 故事內容(右)  logostory*/
#logostory{
    line-height:50px;
    display: inline-block;
    text-align: initial;
    margin: 50px;
    margin-left: 10px;
    font-family: 'Charmonman', cursive;
    font-size: 24px;
}

/*--slider--*/

.startr-slides {
  margin: 0 auto;
  font-family: 'Charmonman', cursive;
  color:#fff;
  display: inline-block;
  position: relative;
  float: right;
  font-size:20px;
  width: 100%;
  }
  
